Protocol 2
Port 22

LookupClientHostnames no
VerifyReverseMapping no
KbdInteractiveAuthentication no
# IPv4 only
ListenAddress 0.0.0.0

GatewayPorts no

# X11 tunneling options
X11Forwarding no
X11DisplayOffset 10
X11UseLocalhost yes

PrintMotd no
KeepAlive yes

SyslogFacility auth
LogLevel info

#
# Authentication configuration
#

# Host private key files
# Must be on a local disk and readable only by the root user (root:sys 600).
HostKey /var/ssh/ssh_host_rsa_key
#HostKey /var/ssh/ssh_host_ed25519_key

Ciphers aes128-ctr,aes192-ctr,aes256-ctr
MACs hmac-sha1


# Length of the server key
# Default 768, Minimum 512
ServerKeyBits 768

# sshd regenerates the key every KeyRegenerationInterval seconds.
# The key is never stored anywhere except the memory of sshd.
# The default is 1 hour (3600 seconds).
KeyRegenerationInterval 3600

# Ensure secure permissions on users .ssh directory.
StrictModes yes

# Length of time in seconds before a client that hasn't completed
# authentication is disconnected.
# Default is 600 seconds. 0 means no time limit.
LoginGraceTime 20

# Maximum number of retries for authentication
# Default is 6. Default (if unset) for MaxAuthTriesLog is MaxAuthTries / 2
MaxAuthTries    3
MaxAuthTriesLog 2

# Are logins to accounts with empty passwords allowed.
# If PermitEmptyPasswords is no, pass PAM_DISALLOW_NULL_AUTHTOK
# to pam_authenticate(3PAM).
PermitEmptyPasswords no

# To disable tunneled clear text passwords, change PasswordAuthentication to no.
PasswordAuthentication no


# Are root logins permitted using sshd.
# Note that sshd uses pam_authenticate(3PAM) so the root (or any other) user
# maybe denied access by a PAM module regardless of this setting.
# Valid options are yes, without-password, no.
PermitRootLogin without-password

# sftp subsystem
Subsystem       sftp    internal-sftp

# Disable GSS since we don't need it and it slows down login
GSSAPIAuthentication no
GSSAPIKeyExchange no
